*{
  font-family: Arial, Helvetica, sans-serif;
}

.flex_container{
 display: flex;
}
.image-1{
  height: 436px;
display:block
} 
.point {
  display: flex;
 text-align:start;
 

}
.tilde{
  display: flex;
  align-items: center;
}


.u-block-56e1-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-56e1-3 {
  position: absolute;
  left: 0;
}

.u-block-56e1-4 {
  position: absolute;
  right: 0;
}

.image-1{
width: 100%; 
 }

.content{
  display: flex;
  flex-direction: column; 
  border: 2px solid green;
  align-items: center;
 
  
}
.item_container{
  padding-left: 15px;
}


.u-section-2-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 67px 161px 60px auto;
}
.sep{
  margin-left: 10px;
}

/*responsive section*/

@media (max-width: 720px) {
  .flex_container{
    flex-direction: column;
  }
  p:not(.u-text-variant) {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
}


.image-1{
  height: 300px;
}
 

}